# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bitcloud Core
Comment=Bitcloud Core QT test network
GenericName=Bitcloud Digital Currency QT client testnet network
Exec=bitcloud-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitcloud_testnet.png
MimeType=x-scheme-handler/bitcloud;
Categories=X-Office;X-Finance;
Keywords=internet;pivx;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;bitcloud;btdx
Version=1.0
