# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bitcloud Core
Comment=Bitcloud Core QT main network
GenericName=Bitcloud Digital Currency QT client main network
Exec=bitcloud-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitcloud.png
MimeType=x-scheme-handler/bitcloud;
Categories=X-Office;X-Finance;
Keywords=internet;pivx;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;bitcloud;btdx
Version=1.0
